# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual Environments
.venv*/
venv/
env/

# Dataset
dataset/

# Model files
# *.h5   # tracked via Git LFS
*.keras
*.pt
*.pth

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

static/uploads/
